<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="stylesheet" href="css/users.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <% for(let res of allResources) { %>
        <div>
          <h1><%= res.title %></h1>
          <h2><%= res.description %></h2>
          <h2><%= res.thumbnail_url %></h2>
          <h2><%= res.external_url %></h2>
        </div>
      <% } %>

    </body>
