<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log In</title>
    <link rel="stylesheet" href="css/register.css" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <body>
  <% include partials/_header %>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
  <div class="container">
    <span> <h1  class="title"> Resource Wall <h1> </span><br/>
      <div class="card card-login mx-auto text-center bg-dark" id="login_box">
          <div class="card-header mx-auto bg-dark">
          <span class="logo_title mt-5" id= "subtitle"> Register Below! </span>
          </div>
          <div class="card-body">
              <form action="/register" method="post">
                <div class="input-group form-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                    </div>
                    <input type="text" name="full_name" class="form-control" placeholder="Full Name">
                </div>
                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-user"></i></span>
                      </div>
                      <input type="text" name="email" class="form-control" placeholder="Email">
                  </div>

                  <div class="input-group form-group">
                      <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-key"></i></span>
                      </div>
                      <input type="password" name="password" class="form-control" placeholder="Password">
                  </div>

                  <div class="form-group">
                      <input type="submit" name="btn" value="Login" class="btn btn-outline-danger float-right login_btn">
                  </div>

              </form>
          </div>
      </div>
  </div>
</body>
