<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>
    <link rel="icon" href="data:;base64,=">
    <link rel="stylesheet" href="/css/users.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>

  <body>
      <% include partials/_header %>
      <container class="profile_content">
        <container class="full_name">
          <h1><%= userData.full_name %></h1>
        </container>
    <container class="profile_pic">
    <img src="<%= userData.thumbnail_url %>">
  </container>
  <!-- <container class="profile_bio">
    <p>Here is my bio: <%= userData.bio %></p>
  </container> -->
</article>
<container class="profile_bio">
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ullamcorper, nulla rutrum malesuada varius, enim ex tempor lacus, pharetra laoreet orci massa ac eros. Nam lacinia ac nisi sit amet molestie. Donec vitae vestibulum magna, a egestas lectus. Fusce mattis sem ante, ut bibendum magna laoreet vel. Etiam commodo pulvinar orci ac luctus. Fusce pharetra est tellus, a cursus purus bibendum pellentesque. Morbi non ipsum mi.

  Quisque sit amet arcu vehicula, consectetur nibh eget, pulvinar est. Aliquam erat volutpat. Pellentesque laoreet, ipsum id cursus placerat, nisi eros dapibus neque, et faucibus velit elit sed nisl. Morbi vehicula tortor sit amet sem laoreet imperdiet. Praesent eu sem nisl. Proin ut luctus tortor, sed volutpat massa. Aliquam erat volutpat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In et nisl molestie, malesuada justo dictum, luctus diam. Donec ac nibh vitae ante laoreet ullamcorper. Vestibulum mollis non ligula ut tristique. Sed in magna dapibus, porttitor lorem et, volutpat diam. Pellentesque consequat elit dolor. Fusce eu tristique est.

  In id arcu nec velit auctor dapibus ut eget dolor. Vivamus finibus ante sit amet mi rutrum, sed consectetur purus porttitor. Aliquam eu enim vel diam commodo tincidunt. Donec ac est facilisis, finibus velit a, suscipit est. Proin a nunc et justo efficitur laoreet id congue elit. Suspendisse sed risus eget velit ornare condimentum non in nisi. Nulla ex arcu, faucibus ac iaculis nec, interdum dapibus massa. Phasellus suscipit lacus eros, sit amet faucibus mauris rhoncus a.
</p>
</container>
</container>
  </body>
