<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="/css/editresource.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway&display=swap" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="utf-8">
    <title> Edit Resource</title>
  </head>
  <body>
  <% include partials/_header %>
    <div class="container">
    	<div class="row">
    		<div class="col-md-3 ">
    		</div>
    		<div class="col-md-9">
    		    <div class="card">
    		        <div class="card-body">
    		            <div class="row">
    		                <div class="col-md-12">
    		                    <h4>Update your Profile</h4>
      		                    <hr>
    		                </div>
    		            </div>
    		            <div class="row">
    		                <div class="col-md-12">
    		                    <form method="POST" action="/users/<%= user.id %>/edit?_method=PUT">
                                  <div class="form-group row">
                                    <label for="full_name" class="col-4 col-form-label">Full Name</label>
                                    <div class="col-8">
                                      <input id="full_name" name="full_name" placeholder="Update your name" class="form-control here" type="text">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="email" class="col-4 col-form-label">Email</label>
                                    <div class="col-8">
                                      <input id="email" name="email" placeholder="" class="form-control here" type="email">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="thumbnail_url" class="col-4 col-form-label">Profile Pic</label>
                                    <div class="col-8">
                                      <input id="thumbnail_url" name="thumbnail_url" placeholder="Please use *(Copy Image URL)*" class="form-control here" type="url">
                                    </div>
                                  </div>
                                  <div class="form-group row">
                                    <label for="bio" class="col-4 col-form-label">Bio</label>
                                    <div class="col-8">
                                      <textarea id="bio" name="bio" cols="40" rows="4" class="form-control" type="text"></textarea>
                                    </div>
                                  </div>
                                  <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Update Profile</button>
                                </form>
                              </div>
                                </form>
    		                </div>
    		            </div>

    		        </div>
    		    </div>
    		</div>
    	</div>
    </div>

  </body>
</html>
