.resource-box {
	width: 20%;
	display: flex;
  justify-content: space-around;
	margin: 10px;
	border: 2px solid black;
	flex-direction: column;
	border-radius: 15px;
}


.resource-box	img {
		flex-wrap: nowrap;
		width: 75%;
		float: left;
		margin: 5%;
			}

.resource-box	.card-title {
		text-transform: capitalize;
		

		}


body * {
	border: 1px solid black;
}

#resource-container {
	justify-content: flex-start;
	display: flex;
}
