.resourcebox {
	display: flex;
  justify-content: space-around;
	padding: 10px;
	border: 5px solid black;
}


.resourcebox	img {
		flex-wrap: nowrap;
		width: 10%;
		float: left;
		margin: 5%;
			}

.resourcebox	h3 {
	width: 10%;
	margin-left: 1.66%;
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 10px
		}
