.title {
font-family: 'Josefin Sans', sans-serif !important;
color: black;
font-weight: bold;
display: flex;
justify-content: center;
margin-top: 10%;
font-size: 100px;
}

#login_box {
  display: flex;
  margin-top: 10%;
}

#subtitle {
  color: lightgrey;
  font-style: italic;
  font-size: 25px;
}

body {
		background-image: url("64f67156.png");
		font-family: 'Raleway', sans-serif !important;
}
