.resource_content {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.resource_content .title {
  /* border: 1px solid green; */
}

.resource_content .content {
  margin-left: 5%;
  /* border: 1px solid red; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.resource_content .text {
  /* border: 2px solid blue; */
  width: 50%;
}

.resource_image {
  margin-left: 5%;
  width: 100%;
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.comments{
    margin-top: 10%;
}

.form-group {
  width: 75%;
}

body {
		background-image: url("64f67156.png");
}
