.resource_content {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.resource_content .title {
  /* border: 1px solid green; */
}

.resource_content .content {
  flex-grow: 1;
  display: flex;
  /* border: 1px solid black; */
  flex-direction: column;
  justify-content: space-evenly;
}

.resource_content .text {
  margin-left: 10%;
  /* border: 2px solid green; */
  width: 75%;
  display: flex;
  justify-content: center;
}

.resource_image{
  border-radius: 50px;
  margin-left: 2%;
  margin-top: 10%;
  display: flex;
}

.title {
  /* background: 5px purple; */
  margin-right: 12%;
  font-size: 40px;
  display: flex;
  justify-content: center;
}

.text {
  font-size: 25px;
}

.resource_image img {
  border: 10px solid grey;
  height: 600px;
  width: 400px;
  flex-grow: 2;
  display: flex;
  justify-content: center;
}

.comments{
    margin-top: 10%;
}

.form-group {
  width: 75%;
}

body {
		background-image: url("64f67156.png");
    font-family: 'Raleway', sans-serif !important;
}

body h1 {
font-family: 'Josefin Sans', sans-serif;
}

body * {
  /* border: 1px solid black; */
}

.comments  h1 {
  display: flex;
  justify-content: center;
}

.sub_bar {
  display: flex;
  margin-left: 1%;
}

.rating {
  margin-left: 145px;
}

#bookmark {
  display: flex;
  margin-left: 1%;
}
