body  {
  background-image: url("64f67156.png");
}

.profile_content {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.profile_pic img {
  height: 400px;

}

.profile_pic {
  border:  2px solid red;
  display: flex;
  width: 100%;
  justify-content: center;
}
.full_name {
  border:  2px solid red;
  display: flex;
  justify-content: center;
}

.profile_bio {
  border:  2px solid red;
  flex-direction: row;
  padding: 10%;
}
