body  {
  background-image: url("64f67156.png");
}

img {
  align-items: center;
}

.profile_content {
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  padding: 10%;
}

.profile_pic {
  border:  2px solid red;
  display: flex;
  width: 40%;
  justify-content: flex-end;
}
.full_name {
  border:  2px solid red;
  display: flex;
}

.profile_bio {
  border:  2px solid red;
  flex-direction: row;
  padding: 10%;
}
